<h1 class="text-center h1 mb-5 mt-5"><%= @title %></h1>
<p class="text-center">Welcome to Jungle, where nature meets convenience! We are your go-to online destination for a diverse range of plants to elevate your space.</p>
<h3 class="text-center mb-4 mt-4" >Our Story</h3>
<p class="text-center">At Jungle, we are passionate about bringing the beauty of nature to your doorstep. Our carefully curated collection includes indoor plants, succulents, and more, sourced from top growers to ensure quality and vitality.</p>
<h3 class="text-center mb-4 mt-4">What We Offer</h3>
<ul class="text-center list-unstyled">
  <li><strong>Expertly Selected Plants:</strong> Our team of plant enthusiasts handpicks each plant, ensuring you receive healthy, thriving greenery.</li>
  <li><strong>Simple Online Shopping:</strong> Explore and order your favorite plants effortlessly with our user-friendly online store.</li>
  <li><strong>Helpful Guidance:</strong> From plant selection to care tips, our experts are here to assist you on your plant journey.</li>
</ul>
<h3 class="text-center mb-4 mt-4">Green Living, Delivered</h3>
<p class="text-center">Embrace the joy of green living with Jungle. Conveniently have nature delivered to your doorstep, and let the greenery transform your space.</p>